.container.p-5.img {
    display: block;
    transition: transform 0.3s ease;
}

.col-12.text-center.border-bottom.mb-5.p-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('https://camerareadycosmetics.com/cdn/shop/articles/Kiehl_s-Blog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.col-12.text-center.border-bottom.p-5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacity hitam (RGBA) */
}

.col-12.text-center.border-bottom.p-5.img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.custom-range.form-range::-webkit-slider-runnable-track {
    background-color: #D9D9D9; /* Change this to your desired color */
}

/* Change the thumb (handle) color */
.custom-range.form-range::-webkit-slider-thumb {
    background-color: #B7B7A4; /* Change this to your desired color */
    border: 1px solid #B7B7A4; /* Change this to your desired color */
}

/* .btn.mx-auto.m-4:hover {
    background-color: #E4E4DE;
} */

/*
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 300px;  Sesuaikan dengan tinggi yang Anda inginkan
  }
colour base
#5c5555
#E4E4DE
